---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: wp
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      
      - job_name: 'node'
        kubernetes_sd_configs:
        - role: pod
          namespaces:
            names:
            - wp
        relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_app]
          action: keep
          regex: node-exporter
        - source_labels: [__meta_kubernetes_pod_ip]
          target_label: __address__
          replacement: $1:9100
      
      - job_name: 'grafana'
        static_configs:
          - targets: ['grafana:3000']
      
      - job_name: 'mysql'
        static_configs:
          - targets: ['mysqld-exporter:9104']
      
      - job_name: 'nginx'
        static_configs:
          - targets: ['nginx-exporter:9113']
